@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
p{
  margin-bottom: 0;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nav-custom-container {
  position: absolute;
  top: 0;
}
.navbar-custom-background-home{
  background: none !important;
}
.navbar-custom-background > .a {
  margin:0;
  width:50%;
  padding-left:16px;
}
.navbar-custom-background > .b {
  margin:0;
  width:50%;
  padding-left:16px;
  justify-content:end;
  font-size:16px;
}
.navbar-brand {
  font-size: 25px;
}
#basic-navbar-nav {
  justify-content: end;
}
.navbar-text-home {
  color: white;
}
.navbar-text-home-brand {
    color: white;
  }
  .navbar-text-home-brand:hover, .navbar-text-home-brand:active {
    color: white !important;
  }
.navbar-text-color-brand {
    color: #4a4a4a;
  }
  .navbar-text-color-brand:hover, .navbar-text-color-brand:active{
    color: #4a4a4a !important;
  }

.navbar-text-home:hover {
    color: white;
    border-bottom: 0.125rem solid #b1a17f !important;
}
.navbar-text-home:active, .navbar-text-home:focus {
    color: white !important;
    border-bottom: 0.125rem solid #b1a17f !important;
}

.navbar-text-color {
  color: #4a4a4a;
}
.navbar-text-color:hover {
  color: #b1a17f;
}
.navbar-text-color:active, .navbar-text-color:focus{
    color: #b1a17f !important;
}

.item-selected{
    border-bottom: 0.125rem solid #b1a17f !important;
    color: #b1a17f;
}
.welcome-selected{
    border-bottom: 0.125rem solid #b1a17f !important;
    color: white;
}

.container-right,
.container-left {
  width: 50%;
  align-content: center;
}

/* Fin estilos del Nav y generales  */

.home{
  padding-top:100px;
}

.header-imagen {
  background-image: url("../img/fondo_arbolesverdes.jpg");
  min-height: 599px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.footer-style{
  background-color:#B1A17F !important;
  color: white;
}
.footer-style>.container>.brand-footer{
  font-size:20px;
  align-self:center;
}

.nav-footer{
  font-size:14px;
  margin-top:5px;
}
.nav-footer-text-color{
  color:white;
}
.nav-footer-text-color:hover, .nav-footer-text-color:active, .nav-footer-text-color:focus{
  color:white !important;
}

.footer-line{
  margin-top:15px;
  border-top: 1px #E5D09C solid;
  width:100%;
}
.footer-copyright{
  margin-top:10px;
  font-size:14px;
  text-align:center;
}

.banner{
  width:250px;
  color:white;
  font-size: 30px;
}

.text-white{
  color:white;
}
.text-black{
  color:black;
}
.text-green{
  color: #135A44;
}
.textArrowButton{
  height: 16px;
  line-height: normal;
}

.arrow{
  height: 16px;
}
.arrow>svg{
  vertical-align: baseline;
}

.whoWeAre-banner{
  display:flex;
  width:100%;
  height:445px;

}
.container-whoWeAre{
  width:50%;
}
.title-container{
  margin-top: 90px;
}
.title{
  color: #2F715C;
  font-size: 25px;
  margin-left:140px;
}
.subtitle{
  color: #8E6818;
  font-size: 22px;
  margin-left:140px;
}

.arbolitos-forms{
  border-bottom: dashed #E5D09C 1px;
  margin-top: 108px;
  text-align: end;
  margin-right: 180px;
  padding-right: 44px;
}

.container-text_button{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom-button{
  width:185px;
  margin-top: 31px;
}

.custom-button>a{
  text-decoration:none;
}
.custom-button>a>button{
  text-decoration:none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 17px;
}

.custom-button-green:hover, .custom-button-green:focus, .custom-button-green:active{
  color:white;
}

.custom-button-green{
  background-color: #135A44 !important;
}

.container-principal{
  display:flex;
  width:100%;
}

.problematica {
  background-image: url("../img/Problematica.png");
  min-height: 447px;
  background-repeat: no-repeat;
  background-size: cover;
}
.problematica-text{
  max-width:432px;
  margin-left: 140px;
  margin-top: 27px;
}

.problematica-button{
  margin-left:140px;
}

.container-ubicacion{
  min-height:450px;
}

.bbb{
  max-height:293px;
  width:70%;
}
.ccc{
  width:30%;
}

.title-ubicacion{
  color:#135A44;
  font-size: 25px;
  margin-top: 85px;
  margin-bottom:20px;
  display:flex;
  justify-content:center;
}
.text-ubicacion{
  margin-top: 92px;
  margin-bottom:52px;
}
.text-ubicacion>h4{
  font-size:22px;
}
.text-ubicacion>h4>span{
  color: #8E6818;
}
.container-donar{
  background-image: url("../img/CallToAction.png");
  min-height: 239px;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-donar>h4{
  padding-left:124px;
  padding-top:54px;
  margin-botton:25px;
}

.container-contact{
  width:100%;
  padding-top:75px;
  min-height:511px;
}
.text-contact{
  padding-top:48px;
}
.img-contact{
  margin-top:83px;
}
.container-form{
  width:433px;
  border-radius: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 48px 39px 23px 39px ;
}
.space-between-form{
  margin-bottom:28px !important;
}
@media only screen and (min-width: 720px) {
  
  .navbar-custom-background >.a{
    padding-left:30px;
  }
  .navbar-custom-background >.b{
    padding-right:30px;
  }
}

@media (min-width:1200px) {
  .navbar-custom-background >.a{
    padding-left: 0px;
    margin-left:72px;
  }
  .navbar-custom-background >.b{
    padding-right: 0px;
    margin-right:72px;
  } 
  
  .footer-style>.container>.brand-footer{
    margin-top:50px;
    font-size:25px;
  }
  .navbar-brand {
    font-size: 30px;
  }
  .nav-footer{
    font-size:16px;
    margin-top:10px;
  }
  .footer-copyright{
    font-size:16px;
  }
  .banner{
    width:332px;
    color:white;
    font-size: 45px;
    margin-left: 72px;
  }
  .buttonToDonate{
    width:185px;
  }
  .buttonToDonate>button>div{
    color: #135A44;
  }
}