@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

.outfit-semibold {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.nav-custom-container {
  position: absolute;
  top: 0;
}
.navbar-custom-background-home{
  background: none !important;
}
.navbar-custom-background > .a {
  margin:0;
    width:50%;
    padding-left:16px;

}
.navbar-custom-background > .b {
  margin:0;
    width:50%;
    padding-left:16px;
    justify-content:end;
  font-size:16px;
}
.navbar-brand {
  font-size: 25px;
}
#basic-navbar-nav {
  justify-content: end;
}
.navbar-text-home {
  color: white;
}
.navbar-text-home-brand {
    color: white;
  }
  .navbar-text-home-brand:hover, .navbar-text-home-brand:active {
    color: white !important;
  }
.navbar-text-color-brand {
    color: #4a4a4a;
  }
  .navbar-text-color-brand:hover, .navbar-text-color-brand:active{
    color: #4a4a4a !important;
  }

.navbar-text-home:hover {
    color: white;
    border-bottom: 0.125rem solid #b1a17f !important;
}
.navbar-text-home:active, .navbar-text-home:focus {
    color: white !important;
    border-bottom: 0.125rem solid #b1a17f !important;
}

.navbar-text-color {
  color: #4a4a4a;
}
.navbar-text-color:hover {
  color: #b1a17f;
}
.navbar-text-color:active, .navbar-text-color:focus{
    color: #b1a17f !important;
}

.item-selected{
    border-bottom: 0.125rem solid #b1a17f !important;
    color: #b1a17f;
}
.welcome-selected{
    border-bottom: 0.125rem solid #b1a17f !important;
    color: white;
}

.home{
  padding-top:100px;
}

.header-imagen {
  background-image: url("../img/fondo_arbolesverdes.jpg");
  min-height: 599px;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
}

.footer-style{
  background-color:#B1A17F !important;
  color: white;
}
.footer-style>.container>.brand-footer{
  font-size:20px;
  align-self:center;
}

.nav-footer{
  font-size:14px;
  margin-top:5px;
}
.nav-footer-text-color{
  color:white;
}
.nav-footer-text-color:hover, .nav-footer-text-color:active, .nav-footer-text-color:focus{
  color:white !important;
}

.footer-line{
  margin-top:15px;
  border-top: 1px #E5D09C solid;
  width:100%;
}
.footer-copyright{
  margin-top:10px;
  font-size:14px;
  text-align:center;
}

.banner{
  position:relative;
  top:200px;
  left: 10px;
  color:white;
  width:250px;
  font-size: 30px;
}
.text{
  position: relative;
  top:150px;
  left:280px;
  width:250px;
  color:white;
}
.buttonToDonate{
  width:150px;
  position: relative;
  top: 170px;
  left: 280px;
}
.buttonToDonate>button>div{
  color: #135A44;
}
.arrow{
  position : absolute;
  top: 5px;
  left:120px;
  width:17px;
  height:17px;
}

@media only screen and (min-width: 720px) {
  
  .navbar-custom-background >.a{
    padding-left:30px;
  }
  .navbar-custom-background >.b{
    padding-right:30px;
  }
}

@media (min-width:1200px) {
  .navbar-custom-background >.a{
    padding-left: 0px;
    margin-left:72px;
  }
  .navbar-custom-background >.b{
    padding-right: 0px;
    margin-right:72px;
  } 
  
  .footer-style>.container>.brand-footer{
    margin-top:50px;
    font-size:25px;
  }
  .navbar-brand {
    font-size: 30px;
  }
  .nav-footer{
    font-size:16px;
    margin-top:10px;
  }
  .footer-copyright{
    font-size:16px;
  }
  .banner{
    position:relative;
    top:216px;
    left: 72px;
    color:white;
    width:332px;
    font-size: 45px;
  }
  .text{
    position: relative;
    top:141px;
    left:875px;
    width:397px;
    color:white;
  }
  .buttonToDonate{
    width:160px;
    position: relative;
    top: 180px;
    left: 875px;
  }
  .buttonToDonate>button>div{
    color: #135A44;
  }
  .arrow{
    position : absolute;
    top: 5px;
    left:130px;
    width:17px;
    height:17px;
  }
}